## Pricing

Pricing depends on the amount of time required to both prepare and deliver the workshop.

Fully bespoke, full-day workshops start from £350 per day, priced to include meeting with you beforehand and any extra materials I need to purchase and prepare.

For a workshop where I don't need to do any preparation and can use existing materials, I charge the same as for Personal Tuition: £35 per hour including travel.

Your requirements are likely to be somewhere in between so please email or call to discuss.

<a href="/contact/" class="btn btn--primary">Get in touch</a>